---
---

/* main.css overwrite */

body {
  margin-top: 0;
}

/*
 * Cover
 */

.parallax {
  background-attachment: fixed;
  
}

#cover {
  position: relative;
  overflow: hidden;
  color: white;
  background-color: #333;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);

  .cover-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .darken {
    position: absolute;
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  }
  
  .cover-container {
    position: relative;
  }
  
  /* Custom default button */
  .btn-secondary, .btn-secondary:hover, .btn-secondary:focus {
    color: #333;
    text-shadow: none;
    background-color: white;
    border: .05rem solid white;
  }
  
  /* Links */
  a, a:focus, a:hover {
    color: white;
  }

}

.cover-container {
  max-width: 42em;
}

.darken {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

/*
 * Cover Navbar
 */
/* For navbar animation */
.roam-navbar {
  transition: margin-top 500ms ease-out 0s;
  top: calc(-1rem - 40px);
  margin-top: calc(1rem + 40px);
}

.cover-navbar {
  position: absolute;
  background-color: initial!important;

  .nav-link {
    padding: .25rem 0;
    margin: 0 .5rem;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
  }

  .nav-link:hover {
    border-bottom-color: rgba(255, 255, 255, .25);
  }
  .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .5);
  }

  .active {
    color: white;
    border-bottom-color: white;
  }
}
