---
---

/*
 * home-typing.js stuff
 */

@keyframes blink {
  40% { border-color: #fff; }
  52% { border-color: rgba(0,0,0,0); }
  88% { border-color: rgba(0,0,0,0); }
  100% { border-color: #fff; }
}
.typing-blink {
  animation: blink 1100ms linear infinite;
}

#personal-field-parent {
  white-space: pre-wrap;
}

#personal-field {
  border-right: 2px solid #fff;
}

/* Links */
.cover a,
.cover a:focus,
.cover a:hover {
  color: #fff;
}

/* Custom default button */
.cover .btn-secondary,
.cover .btn-secondary:hover,
.cover .btn-secondary:focus {
  color: #333;
  text-shadow: none;
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

.cover {
  background-size: cover;
  background-color: #333;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.darken {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.cover-container {
  max-width: 42em;
}

.roam-navbar {
  transition: margin-top 500ms ease-out 0s;
  top: calc(-1rem - 40px);
  margin-top: calc(1rem + 40px);
}

.cover-navbar {
  position: absolute;
  background-color: initial!important;
}

/*
 * Navbar
 */
.cover-navbar .nav-link {
  padding: .25rem 0;
  margin: 0 .5rem;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.cover-navbar .nav-link:hover {
  border-bottom-color: rgba(255, 255, 255, .25);
}
.cover-navbar .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .5);
}

.cover-navbar .active {
  color: #fff;
  border-bottom-color: #fff;
}
