    <nav id="navbar" class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">Simon Chuu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarList" aria-controls="navbarList" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarList" class="collapse navbar-collapse">
          <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link active" href="/">Home</a>
            <a class="nav-item nav-link" href="#">Under Construction...</a>
          </div>
        </div>
      </div>
    </nav>
